<nav class="side-nav">
    <ul>
        {{#each items}}
        <li {{#if active}}class="active"{{/if}} data-screen="{{id}}"><i class="fas fa-{{icon}}"></i> <span>{{title}}</span></li>
        {{/each}}
    </ul>
</nav>