<header class="top-nav">
    <div class="logo">{{siteName}}</div>
    <div class="search-bar">
        <input type="text" placeholder="{{searchPlaceholder}}">
        <button><i class="fas fa-search"></i></button>
    </div>
    <div class="user-menu">
        <button class="notifications"><i class="fas fa-bell"></i></button>
        <div class="user-avatar" id="profileBtn">
            <img src="{{user.avatar}}" alt="{{user.avatarAlt}}">
        </div>
    </div>
</header>